<p id="notice"><%= notice %></p>

<h1>Candidate Tweets</h1>
<h3>Relative Frequency of Words Tweeted 25 or More Times</h3>

<form id="candidate_dropdown">
  <select id="pitcher_id" style="width: 20%;height:4em">
    <option value="choose_pitcher">Choose A Pitcher</option>
    <option value="">Choose A Pitcher</option>
  </select>
</form>